image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
data
log
outputs/
.vscode
.idea
*/.DS_Store
**/*.out
Dockerfile
*.pts
*.bin
*.libs
*.npy
*2x2_2y2_4z1_GlobalId_data*
*.json
*.ply
*.txt
*.obj
clusters_obj
*.png
*.pkl
*.pyc
ckpt*
*.mp4
tmp
*.egg-info*
*__pycache__*
cpython-39
*CoppeliaSim_Edu_V4_1_0_Ubuntu20_04*
*finetune/bridgevla/libs*
*.pth
*_static*
*assets*
libs
finetune/*
